body{
    background-color: black;
    margin: 0;
}

header{
    background-color: rgb(27, 27, 170);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

menu-header{
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-around;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 1em;
}

li{
    color: white;
    padding: 10px;
}

.links-nav{
    color: white;
    text-decoration: none;
    padding: 10px;
    width: 3cm;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

#botones-header{
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-around;
    margin: 11px;
}

.login-reg{
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: green;
    padding: 10px;
    border-radius: 5px;
    font-family:'Lucida Sans';
    font-size: 16px;
    font-weight: bold;
}

main{
    background-color: aliceblue;
}

.seccion-demografica{
    background-color: #EEEFFA;
    height: 583px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer{
    background-color: rgb(27, 27, 170);
    height: 100px;
}

#banner_centro{
    width: 100%;
}

.caja-texto{
    text-align: center;
    font-size: large;
    background-color: #4CB34C;
}

.texto-demo{
    color: white;
    padding: 10px;
    font-weight: bold;
    border-radius: 15px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.caja-demo{

    margin: 4em;
}

.imagenes-demo{
    margin: 0 auto;
    bottom: 0%;
}

#imagen-restaurante{
    width: 100%;
}

#seccion-eventos{
    background-color: #EEEFFA;
    padding: 1em;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header-eventos{
    background-color: #3B21D0;
    color: white;
    padding: 1em;
    text-align: center;
}

#fecha{
    background-color: #EEEFFA;
    padding: 1em;
    text-align: center;
}

#imagen-gimnasio{
    width: 100%;
}

#imagen-mapa{
    width: 100%;
}
