body{
    background-color: white;
    margin: 0;
}

header{
    background-color: #24232F;
    height: 110px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#texto_logo{
    display: none;
}

.aside-bar{
    background-color: rgba(0, 0, 0, 0.932);
    height: 100%;
    width: 80%;
    position: fixed;
}

#barra-lateral{
    display: none;
}

#elementos-menu{
    height: 110px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo-header{
    margin: 0;
    padding: 0;
    width: 5%;
}

.logo{
    width: 100%;
    border-radius: 30%;
    position: relative;
    left: 20px;
}

menu-header{
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-around;
}

#lista-menu{
    position: relative;
    top: 10%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 1em;
}

li{
    color: white;
    padding: 10px;
}

a{
    text-decoration: none;
    color: white;
}

.links-nav{
    position: relative;
    top: 46%;
    color: white;
    text-decoration: none;
    padding: 10px;
    width: 3cm;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

#caja-opciones{
    visibility: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    top: 50%;
    list-style: none;
    background-color: #6e6e6e;
}

#caja-opciones-aside{
    display: none;
}

li:hover #caja-opciones{
    visibility: visible;
}


#botones-header{
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-around;
    margin: 11px;
    position: relative;
    right: 15px;
}

.login-reg, .login-reg-lateral{
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: rgb(3, 34, 209);
    padding: 10px;
    border-radius: 5px;
    font-family:'Lucida Sans';
    font-size: 16px;
    font-weight: bold;
    width: 150px;
    border: none;
    height: 45px;
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

main{
    background-color: aliceblue;
}

#seccion-ban{
    display: grid;
    position: relative;
    top: 110px;
    width: 100%;   
    background-color: white;
}

#banner-restaurante{
    width: 100%;
}

#introduccion{
    position: relative;
    top: 100px;
    width: 100%;
    background-color: #24232F;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 832px;
}

#texto-intro{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    color: white;
    width: 100%;
    position: relative;
    top: -100px;
    left: 160px;
}

#parrafo-intro{
    font-size: 310%;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: -347px;
}

#linea-intro{
    background-color: transparent;
    height: 100%;
    width: 0.05%;
    position: relative;
    right: -6.5%;
}

#contenedor-pesa{
    width: 100%;
    position: relative;
    top: 8%;
    right: 260px;
}

#imagen-pesa{
    width: 100%;
}

#seccion-toguro{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #11186e;
    height: 650px;
}

#contenedor-toguro{
    width: 35%;
    position: relative;
    top: 26.35%;
    left: 26.5%;
}

#imagen-toguro{
    width: 100%;
}

#texto-toguro{
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    top: 300px;
    right: 30px;
}

#parrafo-toguro{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

#seccion-actividades{
    width: 100%;
    height: 2010px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-color: #3F3B36;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    gap: 0%;
}

#barra-superior-actividades{
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#texto-actividades{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: grid;
    justify-content: center;
}

#buscador{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
}

#formulario{
    width: 198%;
    position: relative;
    top: 10px;
    left: 10px;
}

#barra-busqueda[type="text"]{
    width: 50%;
    height: 43px;
    font-size: 120%;
    color: #616161d7;
    font-family: Arial, Helvetica, sans-serif;
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

#boton-busqueda[type="submit"]{
    width: 25%;
    height: 43px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    font-weight: bold;
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
    
}

#contenedor-actividades{
    position: relative;
    top: -110px;
    display: grid;
    
}

#cuadricula-actividades{
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 3%;
}

.filas-actividades{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3%;
}

.carta-actividades{
    width: 100%;
    height: 600px;
    background-color: #24232F;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 0%;
    border-radius: 2%;
}

.contenedor-imagen-actividades{
    width: 100%;
    height: 86%;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
}

.imagen-actividades{
    position: relative;
    top: 8%;
    width: 82%;
    height: 85%;
    margin: 0 auto;
}

.titulo-actividades{
    margin: 0 auto;
}

.precio{
    margin: 0 auto;
}

footer{
    background-color: #24232F;
    height: 340px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#datos-footer{
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
}

.titulo-dato{
    font-family: Arial;
}

.lista-datos{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.95em;
    font-family: Arial;
}

.separadordata-footer{
    width: 50px;
    color: transparent;
}

#linea{
    background-color: #000000;
    height: 100%;
    width: 0.05%;
    position: relative;
    right: -6.5%;
}

#redes-sociales{
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-around;
}

#titulo-redes{
    position: relative;
    right: -90%;
    font-family: Arial;
    color: rgb(255, 255, 255);
}

#logo{
    position: relative;
    left: -10%;
    width: 12%;
    margin: 0;
}

@media (max-width: 480px){
    #introduccion, #seccion-toguro, #barra-superior-actividades, .filas-actividades{
        overflow: hidden;
        grid-template-columns: 1fr;
        height: 100%;
    }

    .filas-actividades{
        gap: 19%;
    }

    .carta-actividades{
        gap: 9%;
    }

    #barra-superior-actividades{
        height: 30%;
    }

    #seccion-actividades{
        height: 129%;
        overflow: hidden;
        grid-template-rows: 48fr 52fr;
    }

    #contenedor-actividades{
        margin: 0 auto;
        overflow: scroll;
        height: 140%;
        position: relative;
        top: -53%;
    }

    #buscador{
        height: 186%;
        position: relative;
        top: -10%;
    }

    #texto-actividades{
        height: 70%;
    }

    #texto-intro{
        width: 20%;
        height: 50%;
        position: relative;
        left: 4.7%;
        top: 10%;
    }

    #parrafo-intro{
        width: 250%;
        font-size: 140%;
        position: relative;
        top: -22%;
    }

    #contenedor-pesa{
        position: relative;
        top: -50%;
        left: 4.6%;
    }

    #imagen-pesa{
        width: 90%;
    }

    #contenedor-toguro{
        width: 96%;
        position: relative;
        top: 46.87%;
        left: 1%;
    }

    #texto-toguro{
        position: relative;
        top: -245%;
        left: 14%;
        width: 70%;
    }

    #parrafo-toguro{
        font-size: 170%;
    }

    #formulario{
        position: relative;
        top: 10%;
        left: 23%;
    }

    #barra-busqueda[type="text"]{
        width: 73%;
        position: relative;
        left: -8%;
    }

    #boton-busqueda[type="submit"]{
        width: 19%;
        position: relative;
        top: -1.5%;
        left: -7%;
        font-size: 80%;
    }

    #botones-menu-lateral{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        gap: 8%;
        position: relative;
        top: 10px;
        left: 25%;
    }

    #seccion-ban{
        width: 100%;
        height: 22%;
    }
    
    #texto_logo{
        display: block;
        width: 50%;
        position: relative;
        left: 28%;
    }

    footer{
        flex-direction: column;
        height: 50%;
    }

    #logo-header, #botones-header, .login-reg{
        display: none;
    }

    #elementos-menu{
        display: none;
    }

    #lista-menu-aside{
        list-style: none;
    }

    .links-nav{
        font-size: 95%;
    }

    #ubicacion-aside{
        position: relative;
        top: -40px;
    }

    header{
        height: 100px;
    }

    #datos-footer{
        width: 0%;
        position: relative;
        left: -54%;
    }

    #datos-footer{
        left: -46%;
    }

    .titulo-dato{
        font-size: 110%;
        position: relative;
        left: 5%;
    }

    .lista-datos{
        font-size: 80%;
    }

    .dato{
        font-size: 80%;
        position: relative;
        left: 20%;
    }

    #linea{
        width: 100%;
        height: 1px;
        position: relative;
        left: 0%;
        padding: -100%;
    }

    #redes-imagen{
        width: 50%;
        position: relative;
        left: 3%;
    }

    #redes-sociales{
        position: relative;
        left: -10%;
    }

    #titulo-redes{
        font-size: 95%;
        position: relative;
        left: 44%;
    }

    #logo{
        position: relative;
        left: 5.7%;
    }

    #entradas-aside{
        position: relative;
    }

    #service-aside{
        cursor: pointer;
        position: relative;
        top: -30px;
    }

    #barra-lateral{
        display: block;
        position: fixed;
        left: -5%;
        top: 3%;
        z-index: 1002;
    }

    #check-menu:checked ~ .aside-bar{
        display: block;
    }

    .logo-menu-lateral, .logo-lateral{
        width: 17%;
        cursor: pointer;
    }

    .aside-bar{
        display: none;
        z-index: 999;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    #lista-log-aside{
        list-style: none;
    }

    #caja-opciones-aside{
        list-style: none;
        position: relative;
        top: -40px;
        left: 10%;
    }

    #check-service{
        position: relative;
        visibility: hidden;
    }

    #check-service:checked ~ #caja-opciones-aside{
        display: block;
    }

    .login-reg-lateral{
        position: relative;
        right: 30%;
        width: 80%;
        font-size: 90%;
    }

    #logo-aside{
        width: 50%;
        position: relative;
        left: 18%;
    }

    .links-nav-aside{
        position: relative;
        left: 24%;
    }
}

