body{
    background-color: white;
    margin: 0;
}

header{
    background-color: #282AB2;
    height: 110px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#texto_logo{
    display: none;
}

.aside-bar{
    background-color: #333a8fee;
    height: 100%;
    width: 80%;
    position: fixed;
}

#barra-lateral{
    display: none;
}

#elementos-menu{
    height: 110px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo-header{
    margin: 0;
    padding: 0;
    width: 5%;
}

.logo{
    width: 100%;
    border-radius: 30%;
    position: relative;
    left: 20px;
}

.menu-header{
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-around;
}

#lista-menu{
    position: relative;
    top: 10%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 1em;
}

li{
    color: white;
    padding: 10px;
}

a{
    text-decoration: none;
    color: white;
}

.links-nav{
    position: relative;
    top: 46%;
    color: white;
    text-decoration: none;
    padding: 10px;
    width: 3cm;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

#caja-opciones{
    visibility: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    top: 50%;
    list-style: none;
    background-color: #3c3ed1;
}

#caja-opciones-aside{
    display: none;
}

li:hover #caja-opciones{
    visibility: visible;
}


#botones-header{
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-around;
    margin: 11px;
}

.login-reg, .login-reg-lateral{
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: rgb(0, 128, 0);
    padding: 10px;
    border-radius: 5px;
    font-family:'Lucida Sans';
    font-size: 16px;
    font-weight: bold;
    width: 150px;
    border: none;
    height: 45px;
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

main{
    background-color: aliceblue;
}

#seccion-ban{
    position: relative;
    top: 110px;
    width: 100%;   
    background-color: white;
}

#banner-kid{
    width: 100%;
}

#banner-kid-movil{
    display: none;
}

#texto-banner{
    width: 500px;
    color: white;
    position: absolute;
    top: 10%;
    left: 17%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  
}

#titulo-banner{
    width: 500px;
    position: relative;
    align-items: center;
    font-size: 55px;
    text-align: center;
    right: -1000px;
}

#parrafo-banner{
    width: 500px;
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 33px;
    font-style: Arial;
    text-align: center;
    right: -1000px;
}

#guarderia{
    background-color: white;
    position: relative;
    top: 1px;
    width: 100%;   
    height: 820px;
    margin: 0;
}

#banner-guarderia{
    width: 100%;
}

#banner-guarderia-movil{
    width: 100%;
    display: none;
}

#texto-guarderia{
    width: 500px;
    color: rgb(255, 255, 255);
    position: relative;
    top: -800px;
    left: -780px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  
}

#titulo-guarderia{
    width: 500px;
    position: relative;
    align-items: center;
    font-size: 75px;
    text-align: center;
    right: -1000px;
}

#parrafo-guarderia{
    width: 500px;
    display: flex;
    justify-content: center;
    position: relative;
    top: -20px;
    font-size: 37px;
    font-style: Arial;
    text-align: center;
    right: -1000px;
}

#seccion-fun{
    height: 880px;
    margin: 0;
}

#fun-banner{
    width: 100%;
}

#texto-fun{
    width: 500px;
    color: rgb(255, 255, 255);
    position: relative;
    top: -850px;
    left: 200.5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  
}

#titulo-fun{
    width: 500px;
    position: relative;
    align-items: center;
    font-size: 50px;
    text-align: center;
    right: -1000px;
}

#parrafo-fun{
    width: 500px;
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 27px;
    font-style: Arial;
    text-align: center;
    right: -1000px;
}

#seccion-animal{
    height: 880px;
    margin: 0;
}

#animal-banner{
    width: 100%;
}

#texto-animal{
    width: 500px;
    color: rgb(255, 255, 255);
    position: relative;
    top: -850px;
    left: -800px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  
}

#titulo-animal{
    width: 500px;
    position: relative;
    align-items: center;
    font-size: 50px;
    text-align: center;
    right: -1000px;
}

#parrafo-animal{
    width: 500px;
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 29.399px;
    font-style: Arial;
    text-align: center;
    right: -1000px;
}

.distancia{
    position: relative;
    top: 1px;
    background-color: white;
    height: 150px;
}

footer{
    background-color: #282AB2;
    height: 340px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#datos-footer{
    color: white;
    display: flex;
    flex-direction: row;
}

.titulo-dato{
    font-family: Arial;
}

.lista-datos{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.95em;
    font-family: Arial;
}

.separadordata-footer{
    width: 50px;
    color: transparent;
}

#linea{
    background-color: rgb(77, 55, 206);
    height: 100%;
    width: 0.05%;
    position: relative;
    right: -6.5%;
}

#redes-sociales{
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-around;
}

#titulo-redes{
    position: relative;
    right: -90%;
    font-family: Arial;
    color: white;
}

#logo{
    position: relative;
    left: -10%;
    width: 12%;
    margin: 0;
}

@media (max-width: 480px){
    #banner-kid-movil{
        display: block;
        width: 100%;
    }

    #banner-kid{
        display: none;
    }

    #texto-banner{
        background-color: rgb(4, 0, 255);
        width: 30%;
        position: relative;
        left: -246.5%;
        top: 2%;
    }

    #titulo-banner{
        width: 200%;
        font-size: 200%;
    }

    #parrafo-banner{
        width: 250%;
        font-size: 150%;
        position: relative;
        left: 862%;
    }

    #banner-guarderia{
    display: none;
    }

    #banner-guarderia-movil{
        display: block;
    }

    #texto-guarderia{
        background-color: red;
        width: 90%;
        position: relative;
        left: 0%;
        top: -30%;
    }

    #titulo-guarderia{
        width: 100%;
        position: relative;
        left: 0%;
        font-size: 100%;
    }

    #parrafo-guarderia{
        width: 100%;
        position: relative;
        left: 0%;
        font-size: 100%;
    }

    #botones-menu-lateral{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        gap: 8%;
        position: relative;
        top: 10px;
        left: 25%;
    }

    #seccion-ban{
        background-color: #282AB2;
        width: 100%;
        height: 100%;
    }
    
    #texto_logo{
        display: block;
        width: 50%;
        position: relative;
        left: 28%;
    }

    footer{
        flex-direction: column;
        height: 100%;
    }

    #logo-header, #botones-header, .login-reg{
        display: none;
    }

    #elementos-menu{
        display: none;
    }

    #lista-menu-aside{
        list-style: none;
    }

    .links-nav{
        font-size: 95%;
    }

    #ubicacion-aside{
        position: relative;
        top: -40px;
    }

    header{
        height: 100px;
    }

    #datos-footer{
        width: 0%;
        position: relative;
        left: -54%;
    }

    .titulo-dato{
        font-size: 110%;
        position: relative;
        left: 23%;
    }

    .dato{
        font-size: 80%;
        position: relative;
        left: 20%;
    }

    #linea{
        width: 100%;
        height: 1px;
        position: relative;
        left: 0%;
        padding: -100%;
    }

    #redes-imagen{
        width: 50%;
        position: relative;
        left: 3%;
    }

    #redes-sociales{
        position: relative;
        left: -10%;
    }

    #titulo-redes{
        font-size: 95%;
        position: relative;
        left: 44%;
    }

    #logo{
        position: relative;
        left: 5.7%;
    }

    #entradas-aside{
        position: relative;
    }

    #service-aside{
        cursor: pointer;
        position: relative;
        top: -30px;
    }

    #barra-lateral{
        display: block;
        position: fixed;
        left: -5%;
        top: 3%;
        z-index: 1002;
    }

    #check-menu:checked ~ .aside-bar{
        display: block;
    }

    .logo-menu-lateral, .logo-lateral{
        width: 17%;
        cursor: pointer;
    }

    .aside-bar{
        display: none;
        z-index: 999;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    #lista-log-aside{
        list-style: none;
    }

    #caja-opciones-aside{
        list-style: none;
        position: relative;
        top: -40px;
        left: 10%;
    }

    #check-service{
        position: relative;
        visibility: hidden;
    }

    #check-service:checked ~ #caja-opciones-aside{
        display: block;
    }

    .login-reg-lateral{
        position: relative;
        right: 30%;
        width: 80%;
        font-size: 90%;
    }

    #logo-aside{
        width: 50%;
        position: relative;
        left: 18%;
    }

    .links-nav-aside{
        position: relative;
        left: 24%;
    }
}
