body{
    background-color: white;
    margin: 0;
}

header{
    background-color: #282AB2;
    height: 110px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#logo-header{
    margin: 0;
    padding: 0;
    width: 5%;
}

.logo{
    width: 100%;
    border-radius: 30%;
    position: relative;
    left: 20px;
}

#menu-header{
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-around;
}

#lista-menu{
    position: relative;
    top: 10%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 1em;
}

li{
    color: white;
    padding: 10px;
}

a{
    text-decoration: none;
    color: white;
}

.links-nav{
    position: relative;
    top: 46%;
    color: white;
    text-decoration: none;
    padding: 10px;
    width: 3cm;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

#caja-opciones{
    visibility: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    top: 50%;
    list-style: none;
    background-color: #3c3ed1;
}

li:hover #caja-opciones{
    visibility: visible;
}


#botones-header{
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-around;
    margin: 11px;
}

.login-reg{
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: rgb(0, 128, 0);
    padding: 10px;
    border-radius: 5px;
    font-family:'Lucida Sans';
    font-size: 16px;
    font-weight: bold;
    width: 150px;
    border: none;
    height: 45px;
}

main{
    position: relative;
    top: 0.01%;
    background-color: aliceblue;
    width: 100%;
    margin: 0 auto;
}

#seccion-ban{
    display: grid;
    position: relative;
    top: 110px;
    width: 100%;  
    height: 86%;
    background-color: white;
    margin: 0 auto;
}

#banner-login{
    width: 100%;
    height: 65%;
}

#contenedor-form{
    display: grid;
    border-radius: 2%;
    background-color: rgb(241, 241, 241);
    width: 25%;
    height: 440%;
    position: relative;
    top: -888%;
    left: 37%;
}

form{
    position: relative;
    top: 10%; 
    left: 8%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 15.8%;
    width: 83%;
}

.campo{
    width: 100%;
    height: 237%;
}

input[type="email"]{
    position: relative;
    top: -218%;
}

input[type="email"]:invalid{
    border: 2px solid red;
}

input[type="number"]{
    position: relative;
    top: -110%;
}

input[type="password"]{
    position: relative;
    top: -328%;
}

#confirmador{
    position: relative;
    top: -438%;
}

#boton-reg{
    position: relative;
    top: -618%;
}

footer{
    position: relative;
    top: 21%;
    background-color: #282AB2;
    height: 340px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#datos-footer{
    color: white;
    display: flex;
    flex-direction: row;
}

.titulo-dato{
    font-family: Arial;
}

.lista-datos{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.95em;
    font-family: Arial;
}

.separadordata-footer{
    width: 50px;
    color: transparent;
}

#linea{
    background-color: rgb(77, 55, 206);
    height: 100%;
    width: 0.05%;
    position: relative;
    right: -6.5%;
}

#redes-sociales{
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-around;
}

#titulo-redes{
    position: relative;
    right: -90%;
    font-family: Arial;
    color: white;
}

#logo{
    position: relative;
    left: -10%;
    width: 12%;
    margin: 0;
}